Repository paveg/diagassert: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, go-fmt

markdownlint:
  run: npx markdownlint-cli@latest {staged_files}

go-fmt:
  run: go fmt {staged_files}

:shirt: Fix
  README.md
Due: markdownlint

refactor: Consolidate test helpers into internal/testutil
  CLAUDE.md
  README.md
  assert_test.go
  docs/philosophy.md
  example_test.go
  internal/testutil/testutil.go
  original_request_test.go
  phase2_demo_test.go
  value_capture_comprehensive_test.go
  value_capture_demo_test.go
  values_test.go
Due: markdownlint, go-fmt

:shirt: Format
  assert.go
  assert_test.go
  example_test.go
  internal/testutil/testutil.go
  lefthook.yml
  value_capture_demo_test.go
Due: go-fmt

:bug: Fix name
  values_test.go
Due: go-fmt

Potential fix for code scanning alert no. 2: Workflow does not contain permissions
  .github/workflows/test.yml
Due: none

Potential fix for code scanning alert no. 1: Workflow does not contain permissions
  .github/workflows/test.yml
Due: none

:green_heart: Fix CI
  .github/workflows/test.yml
Due: none

:green_heart: Fix up
  .github/workflows/test.yml
Due: none

Implement power-assert style visual output for diagassert
  original_request_test.go
  phase2_demo_test.go
  visual_demo_test.go
Due: go-fmt

Implement comprehensive power-assert style visual improvements
  internal/evaluator/evaluator.go
  internal/formatter/visual.go
  power_assert_demo_test.go
  unicode_visual_test.go
  visual_demo_test.go
Due: go-fmt

Enhance visual formatter with Unicode support and precise positioning
  internal/formatter/visual.go
  unicode_visual_test.go
Due: go-fmt

Fix linting issues - remove unused functions and fix assignments
  internal/evaluator/evaluator.go
  internal/formatter/formatter.go
  internal/formatter/visual.go
Due: go-fmt

Implement power-assert style visual output formatter
  internal/formatter/formatter.go
  internal/formatter/visual.go
  internal/formatter/visual_test.go
  visual_demo_test.go
Due: go-fmt

:bug: Fix test
  unicode_visual_test.go
Due: go-fmt

:recycle: Improve document
  README.md
  docs/README.md
  docs/tdd-plan.md
  examples/README.md
  examples/basic/README.md
  lefthook.yml
Due: markdownlint

:recycle: Improvement visual
  internal/formatter/visual.go
  internal/formatter/visual_layers_test.go.bak
  visual_layer_demo_test.go
Due: go-fmt

:fire: Remove unnecessary functions and codes
  internal/formatter/visual.go
  internal/formatter/visual_layers_test.go.bak
  phase2_demo_test.go
  power_assert_demo_test.go
  value_capture_demo_test.go
  visual_demo_test.go
  visual_layer_demo_test.go
Due: go-fmt

:recycle: Implement color
  PIPE_COLORS_CHANGES.md
  PIPE_COLORS_IMPLEMENTATION.md
  demo/demonstration.go
  demo/test_report.md
  go.mod
  go.sum
  internal/formatter/color_debug_test.go
  internal/formatter/color_test.go
  internal/formatter/pipe_colors_demo.go
  internal/formatter/pipe_colors_test.go
  internal/formatter/visual.go
Due: markdownlint, go-fmt

:recycle: Update codes
  .gitignore
  .markdownlint.json
  PIPE_COLORS_CHANGES.md
  PIPE_COLORS_IMPLEMENTATION.md
  README.md
  demo/demonstration.go
  demo/test_report.md
  internal/formatter/pipe_colors_demo.go
  original_request_test.go
  unicode_visual_test.go
  value_capture_comprehensive_test.go
Due: markdownlint, go-fmt

:bug: Fix for comments
  internal/formatter/visual.go
Due: go-fmt

:bug: Fix length
  internal/formatter/visual.go
Due: go-fmt

:recycle: Adjust implementation
  internal/formatter/visual.go
  internal/formatter/visual_test.go
Due: go-fmt

Path conditions:
  markdownlint: any of: *.md
  go-fmt: any of: *.go
